.about-section {
    padding: 100px 0px 100px 0px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    height: 100vh;
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .card {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 10%;
  }
  .title {
    color: grey;
  }
  .column {
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .button:hover {
    background-color: #555;
  }