.form {
    background: url('/src/public/background.jpeg') center center/cover no-repeat;
    height: 100vh;
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 100px 0px 100px 0px;
} 
.container {
    border: 3px solid rgb(27, 57, 123);
    background-color: rgb(185, 199, 189);
    border-radius: 1%;
}

.input {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
} 
.button {
    background-color: rgb(27, 57, 123);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.link {
    color: black
}
.errSpan{
    background-color: red;
    position: fixed;
}
.ul{
    background-color:black;
    display:inline;
    margin: 10px;
    padding: 10px;
} 
.li{
    float: right;
    display: inline;
    margin: 10px;
    padding: 10px;
} 
.pic{
    width: 300px;
    height: 300px;
}
.text{
    color: blanchedalmond;
}

